ZooAdmissionAnalysis/
Python/
ContructionProgressApp/
PDF_ToMarkdown_Customer/
/MultipleDisplayScoreSoftware/MultipleDisplayScoreSoftware/MultipleDisplayScoreSoftware/.vs/MultipleDisplayScoreSoftware/DesignTimeBuild
/MultipleDisplayScoreSoftware/MultipleDisplayScoreSoftware/MultipleDisplayScoreSoftware/.vs/MultipleDisplayScoreSoftware/v17
/MultipleDisplayScoreSoftware/MultipleDisplayScoreSoftware/MultipleDisplayScoreSoftware/.vs
